<br />
<div class="body">
  <div class="container">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3">
          <button type="button" class="btn btn-success">
            Registrar una nueva corrida
          </button>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <button
            type="button"
            class="btn btn-success"
            routerLink="/verboletos"
          >
            Ver todos los registros disponibles
          </button>
        </div>
      </div>
    </div>
    <br />
    <p>En esta sección se agrega un nuevo registro </p>
    <br />

    <!-- aqui van a poner el formulario -->
    <form></form>
  </div>
</div>



