<div class="body">
<p>vercorridas works!</p>
<br>
<br>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="start page.html">Inicio <i class="fas fa-home"></i></a>
        
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="productos.html" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Producto <i class="fab fa-product-hunt"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Todos los productos</a>
          <a class="dropdown-item" href="#">Frutas deshidratadas</a>
          <a class="dropdown-item" href="#">Chips de verduras </a>
          <a class="dropdown-item" href="#">Obleas de amaranto </a>
          <a class="dropdown-item" href="#">Maíz inflado </a>
          <a class="dropdown-item" href="#">Nueces y semillas</a>
          <a class="dropdown-item" href="#">Harinas sin gluten  </a>
          <a class="dropdown-item" href="#">Totopos sin gluten </a>
          <a class="dropdown-item" href="#">Endulzantes naturales </a>
        </div>
      </li>
      
    </ul>
  </div>  
</div>