<div class="body">
  <p>aqui tiene que mostrar la info</p>
  <div class="container">
    <div class="row align-items-center justify-content-center" >
     
         <!-- <div *ngFor="let corrida of corridas | async"  >
          <img class="card-img-top" src="{{pais.flag}}" alt="Card image cap">
         
            <h5>title of card</h5>
            <h6>{{corrida.id_corrida}}</h6>
            <h6>{{corrida.id_busline}}</h6>
            <h6>{{corrida.Origen}}</h6>
            <h6>{{corrida.Destino}}</h6>
            <h6>{{corrida.Inicial_origen}}</h6>
            <h6>{{corrida.Inicial_destino}}</h6>
            <h6>{{corrida.Hora_de_partida}}</h6>
            <h6>{{corrida.hora_de_llegada}}</h6>
            <h6>{{corrida.dias_de_operacion}}</h6>
            <h6>{{corrida.costo}}</h6>
           
           
            

        </div>  -->
        <ul class="list-group">
          <li  *ngFor ="let corrida of [1,1,1,1,1,1,1]" class="list-group-item">
            <h2>corrida.id_corrida</h2>
            <p>corrida.Destino</p>
          </li>
        </ul>
    </div>
  </div>
</div>
<!-- *ngFor="let corrida of corridas" -->